html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  margin: 0;
}


button{
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
button:disabled{
  cursor: no-drop;
}
button:hover:not(:disabled){
  filter: brightness(1.1);
}

big{
  text-decoration: underline;
}

h3{
  margin: 2rem 0 1rem;
}

i{
  animation: blinker 1s linear infinite;
}
.blink{
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

li{
  margin-bottom: 1rem;
}

.action-button{
  background: black;
  color: white;
}

.dev-backlog{
  display: grid;
  display: none;
  position: fixed;
  bottom: 0;
  padding: 0.9rem;
  justify-content: start;
  align-items: start;
  justify-items: start;
  grid-template-columns: 9% repeat(6, 37%);
  grid-column-gap: 4rem;
  font-size: 80%;
  background: #39626e;
  left: 0;
  color: white;
  z-index: 1;
}
.dev-backlog big{
  text-decoration: none;
  font-family: monospace;
  font-size: 150%;
}

.revert-button{
  background: black;
  color: white;
}

canvas{
  height: 100vh !important;
}

.container{
  display: flex;
}
.canvas-container,
.content{
  width: 49%;
}
.content{
  padding: 1rem 1rem 14rem;
}
.canvas-container{
  position: fixed;
  right: 0;
  top: 0;
}

.char-desc{
  font-size: 0.3rem;
  user-select: none;
}


.images-checkbox{
  position: fixed;
  background: #5b5b5b;
  width: 14rem;
  bottom: 4rem;
  left: calc(50% - 6rem);
  z-index: 1;
  padding: 0.5rem 1rem 0;
  transform: scale(1.4);
  line-height: 0.7rem;
  color: white;
}

.images-checkbox label{
  cursor: pointer;
}
@media (max-aspect-ratio: 10/14) {

  .dev-backlog{
    display: block;
  }
}

